@import "tailwindcss";


.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
.bg-animated {
  background: linear-gradient(-45deg, #000000, #9e1717, #5d0000);
  background-size: 400% 400%;
  animation: gradient 20s ease-in-out infinite;
  background-attachment: fixed;
  user-select: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}