@import "tailwindcss";


.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #970326 black;
}

body,
.bg-animated {
  background: linear-gradient(-45deg, #000000, #b3062b, #7f042b);
  background-size: 400% 400%;
  animation: gradient 20s ease-in-out infinite;
  background-attachment: fixed;
  user-select: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}